{   //0 = ignore, 1 = warning, 2 = error
    "env": {
        "browser": true,
        "node": true,
        "phantomjs": true
    },
    "globals": {
        "window": false,
        "Comment": true,
        "Promise": true
    },
    "rules": {
        "brace-style": ["error", "1tbs"],
        "camelcase": "error",
        "comma-dangle": ["error", "never"],
        "curly": "error",
        "dot-notation": "error",
        "indent": "off",
        "indent-legacy": ["error", 4],
        "eqeqeq": "error",
        "key-spacing": "error",
        "keyword-spacing": "error",
        "linebreak-style": ["error", "unix"],
        "max-len": ["error", 100, 4],
        "max-params": ["error", 6],
        "new-cap": ["error", {"capIsNew" : false}],
        "no-alert": "error",
        "no-caller": "error",
        "no-console": "error",
        "no-debugger": "error",
        "no-eval": "error",
        "no-extend-native": "error",
        "no-global-assign": "error",
        "no-irregular-whitespace": "error",
        "no-new": "error",
        "no-proto": "error",
        "no-trailing-spaces": "error",
        "no-undef": "error",
        "no-undef-init": "error",
        "no-unsafe-negation": "error",
        "no-unused-vars": "error",
        "object-curly-spacing": ["error", "always"],
        "semi": ["error", "always"],
        "space-in-parens": ["error", "never"],
        "spaced-comment": ["error", "always", { "markers": ["/"] }],
        "strict": ["error", "global"],
        "quotes" : ["error", "single"],
        "yoda": "error"
    },
    "extends": "eslint:recommended"
}
