dist/select3-custom.*
src/select3-custom.js
styles/select3-custom.less

node_modules

# OS X mess
.DS_Store

# Qt Creator IDE files
select3*.config
select3*.creator*
select3*.files
select3*.includes

# Sublime Text files
select3.sublime-*
