{
    "env": {
        "browser": true,
        "jest/globals": true
    },
    "parserOptions": {
        "sourceType": "module"
    },
    "rules": {
        "jest/no-disabled-tests": "error",
        "jest/no-focused-tests": "error",
        "jest/no-identical-title": "error",
        "jest/prefer-to-have-length": "error",
        "jest/valid-expect": "error"
    }
}
