/**
 * All CSS that comes with Selectivity.js can be used as is, or tweaked to your heart's content :)
 *
 * Please realize though there is no "API contract" regarding styling of CSS classes, meaning that
 * any customized CSS made may need to be updated without warning if you want to upgrade the
 * Selectivity version you use. You can mitigate this problem by using your own templates instead of
 * those defined in selectivity-templates.js, since templates will at the very least continue
 * working across patch versions and any changes necessary to templates will be documented in the
 * changelog.
 */

.selectivity-clearfix
    clear: both

.selectivity-input
    display: inline-block
    width: $selectivity-width

    select
        display: none

.selectivity-placeholder
    color: $selectivity-placeholder-color
